$background-white: #FCFCFC;
$background-black: #111319;
$grey: #E8EEFF;
$orange: #F7B354;
$peach: #FFD6C2;
$black: #1A1A1A;
$dark-grey: #4D4D4D;
$blue: #CAEEFC;
$green: #BCFBE3;
$pink: #ECC4B3;
$lightgrey: #B8D0DD;
$dark-blue: #669DBA;

html {
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
	scroll-behavior: smooth;
}
.links{
	text-decoration-line: none;
	color: $grey;
	margin: 0 10px;
	font-size: 15px;
}
.links:hover{
	color: $pink;
	border-bottom: solid 2px $pink;
}
body{
	padding: 0;
	margin: 0;
}
header {
	height:80px;
	width: 90%;
	background-color: $background-black;
	display: flex;
	align-items: center;
	justify-content: left;
	font-size: 15px;
	padding: 0 5%;
	border-bottom: solid 2.5px $grey;
	h1 {
		color: $grey;
		font-size: 15px;
		margin-right: 20px;
	}
}
#body{
	height: 200px;
	width: 100%;
	background-color: $dark-blue;
	display: flex;
	justify-content: center;
	font-size: 25px;
	padding-top: 50px;
}
@media only screen and (max-width: 900px) {
	#body{
		height: 250px;
	}
}
#title{
	width: 80%;
	height: 100%;
	color: $grey;
	// background-color: $green;
	p{
		font-size: 15px;
	}
}
#wrapper{
	width: 100%;
	position: relative;
	background-color: $dark-blue;
	#info{
		width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 5%;
		margin-bottom: 30px;
		color: $grey;
	}
	img{
		width: 60%;
		margin: 0 auto;
		box-shadow: 5px 5px 10px #22546e;
	}
	#quote{
		width: 90%;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 5%;
		font-size: 20px;
		font-weight: 900;
		color: $grey;
	}
}
#footer{
	width: 100%;
	height: 160px;
	position: relative;
	background-color: #FCDCA9;
	text-align: center;
	padding: 10px 0;
	border-top: 3px solid $grey;
	#logos{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		#email{
			height: 42px;
			width: 44px;
			background-image: url(../imgs/email.png);
			background-size: contain;
			background-repeat: no-repeat;
			margin-right: 10px;
		}
		#link{
			height: 42px;
			width: 44px;
			background-image: url(../imgs/link.png);
			background-size: contain;
			background-repeat: no-repeat;
			margin-left: 10px;
		}
	}
}

/*This Top part is the css for the Gender and Politics tab (including the header and footer for all pages)*/

#about-body{
	height: 600px;
	width: 100%;
	text-align: center;
	background-color: $background-white;
	#profile{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 50px;
		background-color: $background-white;
		#me{
			height: 100%;
			width: 250px;
			text-align: left;
			line-height: 12px;
			font-family: Helvetica, sans-serif;
		}
		#img-wrapper{
			position: relative;
			width: 250px;
			height: 250px;
			border-radius: 500px;
			background-image: linear-gradient(120deg, #FFC7D8, #FFEAB5);
		}
		#myimg{
			position: relative;
			width: 200px;
			height: 200px;
			border-radius: 100px;
			background-image: url("../imgs/naye.jpeg");
			background-repeat: no-repeat;
			background-position: 100% 10%;
			background-size: 130%;
			top: 30px;
			left: 44px;
		}
		#intro{
			position: relative;
			width: 40%;
			height: 100%;
			text-align: left;
			font-size: 50px;
			font-family: Arial, Helvetica, sans-serif;
			font-weight: 500;
			line-height: 80px;
		}
	}
}
@media only screen and (max-width: 900px) {
	#about-body {
		height: 700px;
		#profile{
			#intro{
				margin-top: 50px;
				width: 90%;
				padding: 0 5%;
				text-align: center;
				font-size: 24px;
				line-height: 50px;
			}
		}
	}
}
#about-me{
	width: 100%;
	height: 400px;
	background-color: #F7F7ED;
	button{
		margin-top: 250px;
		width: 250px;
		height: 40px;
		background-color: #FCDCA9;
		border: none;
		border-radius: 20px;
		cursor: pointer;
		font-size: 20px;
		font-family: Helvetica, sans-serif;
		color: #555555;
		}
		button:hover {
			box-shadow: 1px 1px 5px #AAAAAA;
		}
}
#myinfo{
	width: 60%;
	height: 230px;
	position: absolute;
	background-color: #669DBA;
	left: 15%;
	top: 600px;
	box-shadow: 30px 30px 0px #B8D0DD;
	padding: 20px 5%;
	color: $grey;
	font-size: 13px;
	line-height: 30px;
}

@media only screen and (max-width: 900px) {
	#myinfo{
		width: 90%;
		height: 230px;
		box-shadow: none;
		left: 0;
		top: 700px;
		font-size: 0.5rem;
		line-height: 29px;
	}
}

.res{
	text-decoration: none;
	color: $black;
	line-height: 40px;
}
.res:hover {
	color: $dark-blue;
}

#blog-body{
	height: 600px;
	width: 90%;
	padding: 0 5%;
	p{
		margin-top: 50px;
		text-align: left;
		text-indent: 50px;
	}
}



